<ion-view view-title="Chats">
  <ion-content> 
   <ion-floating-menu>
            <ion-floating-item icon="ion-social-facebook" click="socialSharing(1)"></ion-floating-item>
            <ion-floating-item icon="ion-social-whatsapp" click="socialSharing(2)"></ion-floating-item>
            <ion-floating-item icon="ion-android-mail" click="socialSharing(3)"></ion-floating-item>
            <ion-floating-item icon="ion-social-instagram" click="socialSharing(4)"></ion-floating-item>
            <ion-floating-item icon="ion-social-twitter" click="socialSharing(5)"></ion-floating-item>
            <ion-floating-item icon="ion-social-linkedin" click="socialSharing(6)"></ion-floating-item>

   </ion-floating-menu>
    <ion-list>
	 
	   <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="googleAnalytics()" >
        Google analytics
       </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="onButtonClick()" >
         Keen analytics
       </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="googleOauth()" >
        Google Oauth
       </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="githubOauth()" >
        Github oauth
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="meetupOauth()" >
       Meetup Oauth
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="facebookLogin()" >
       Facebook login
      </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="foursquareLogin()" >
       FoureSquare Login
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="socialOauth()" >
      Social oauth
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="appRating()" >
       App rating
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="imagePicker()" >
        Image Picker
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="fileOpener()" >
         File Opener
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="globalization()" >
        Globalization
      </ion-item>
             <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="geoLocation()" >
      Geolocation
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="offlineLocation()" >
       Offline Geolocation
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="emailComposer()" >
       Email Composer
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="scan()" >
       Barcode Scan
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap"  ng-click="printer()">
         Printer
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="captureImage()" >
        Capture Image
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="captureAudio()" >
        Capture Audio
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="captureVideo()" >
        Capture Video
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="flashON()" >
        Flash light on
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="flashOff()" >
        Flash light off
      </ion-item>
      
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="Unzip()">
         Unzip
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="appAvailibility()">
         App Availability
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="splaceScreen()">
        SplaceScreen
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="pinDailog()">
         Pin Dailog
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="toast()">
         Toast
      </ion-item>
    
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="vibration()">
         Vibration and spinner dialog
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="actionsheet()">
         Actionsheet
      </ion-item>
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="keyBoard()">
         Keyboard
      </ion-item>
      
      
       <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="progressBar()">
         Progress Bar
      </ion-item>
      
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" ng-click="statusBar()">
         Status Bar
      </ion-item>
    </ion-list>
   
  </ion-content>
</ion-view>
