<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <select ng-model="charttype">
  <option value="bar">bar</option>
  <option value="bubbles">bubbles</option>
  <option value="box">box</option>
  <option value="line">line</option>
  <option value="network">network</option>
  <option value="pie">pie</option>
  <option value="radar">radar</option>
  <option value="rings">rings</option>
  <option value="scatter">scatter</option>
  <option value="stacked">stacked</option>
  <option value="treemap">treemap</option>
 </select>

<div style="max-height: 400px"> 



   <d3plus-bar data="base_data" id='name' x="year" y="value" size="value" 
   ng-show="charttype=='bar'" style="max-height: 400px"></d3plus-bar>


  <d3plus-bubbles data="bubbles_data" id='["group", "name"]' size="value" color="group" ng-show="charttype=='bubbles'" depth="1" ></d3plus-bubbles>

  <d3plus-box data="base_data" id='name' y="value" x="year" ng-show="charttype=='box'" ></d3plus-box>

  <d3plus-line data="base_data" id='name' text='name'  x="year" y="value"  ng-show="charttype=='line'"></d3plus-line>

  <d3plus-network data="network_data" nodes="network_positions" edges="network_connections" id="name"
  size="size"  ng-show="charttype=='network'"></d3plus-network>

  <d3plus-pie data="sample_data" id='["name", "skill"]' size="value"  ng-show="charttype=='pie'"></d3plus-pie>

  <d3plus-radar data="sample_data" id='["name", "skill"]' size="value"  ng-show="charttype=='radar'"></d3plus-radar>

  <d3plus-rings data="sample_data" edges="rings_edges" focus="alpha" ng-show="charttype=='rings'"></d3plus-rings> 

  <d3plus-scatter data="scatter_data" id='type' size="value"  x="value" y="weight" ng-show="charttype=='scatter'"></d3plus-scatter>
  
  <d3plus-stacked data="base_data" id='name' text='name' x="year" y="value"  ng-show="charttype=='stacked'"></d3plus-stacked>

 
  <d3plus-treemap data="sample_data" id='name' size="value"  ng-show="charttype=='treemap'"></d3plus-treemap>




</div>
  </ion-content>
</ion-view>
