<ion-view view-title="Dashboard">
	<style>
		.img{
			width:100%
			}
   </style>
  <ion-content class="padding" ng-init="init()">
        
    
      <div>
                    <div ng-repeat="entry in entries" ng-click="browse(entry.link)">
						
						<div class="card">
						   <div class="item item-avatar">
						
							  <h2>{{entry.title}}</h2>
						   </div>

						   <div class="item item-body">
							 
							  <span ng-bind-html="entry.content" style="width:100%;height:100%"></span>
							   <h2>Publish Date :  {{entry.publishedDate}}</h2>
							    <h2>Author : {{entry.author}}</h2>
						</div>
						
					
                    </div>
                </div>
    
    <div class="card">

        <div class="item item-divider" ng-click="onClick()">

            A line chart

        </div>

        <div class="item item-text-wrap">

            <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>

        </div>

    </div>

    <div class="card">

        <div class="item item-divider">

            A bar chart

        </div>

        <div class="item item-text-wrap">

            <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>

        </div>

    </div>
    
  </ion-content>
</ion-view>
